<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li ng-class="{ active: isActive('/')}" ><a href="#/"class="home">Home</a></li>
        <li ng-class="{ active: isActive('/services')}" ><a href="#/services" class="services">Services </a></li>
        <li ng-class="{ active: isActive('/homecare')}" ><a href="#/homecare" class="home_care">Home Care</a></li>
        <li ng-class="{ active: isActive('/livein')}" ><a href="#/livein" class="live">Live in</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Info<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-class="{ active: isActive('/aboutus')}"><a href="#/aboutus" class="about">About Us</a></li>
                <li ng-class="{ active: isActive('/contactus')}"><a href="#/contactus" class="contactus">Contact Us</a></li>
                <li ng-class="{ active: isActive('/ourstaff')}"><a href="#/ourstaff" class="our_staff">Our Staff</a></li>
                <li ng-class="{ active: isActive('/caretraining')}"><a href="#/caretraining" class="care">Care Training</a></li>
            </ul>
        </li>
    </ul>
</div>