<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li ng-class="{ active: isActive('/')}"><a href="#/" class="me">Me</a></li>
        <li ng-class="{ active: isActive('/media')}"><a href="#/media" class="media">Media</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contacts</a>
            <ul class="dropdown-menu">
                <li ng-class="{ active: isActive('/following')}"><a href="#/following" class="following">Following</a>
                </li>
                <li ng-class="{ active: isActive('/followers')}"><a href="#/followers" class="followers">Followers</a>
                </li>
            </ul>
        </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More
                Info<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="login" data-toggle="modal" data-target="#login">Login</a></li>
                <li ng-class="{ active: isActive('/profile')}"><a href="#/profile" class="profile">Profile</a></li>
            </ul>
        </li>
    </ul>
</div>